@font-face {
    font-family: 'JetBrains Mono';
    src: url('./JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e; /* PyCharm Dark Background Color */
    color: #ffffff; /* PyCharm Text Color */
}

header {
    background-color: #3c3f41; /* PyCharm Header Background Color */
    color: #ffffff; /* PyCharm Header Text Color */
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282c2e; /* PyCharm Editor Background Color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #ffffff; /* PyCharm Text Color */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3c3f41; /* PyCharm Footer Background Color */
    color: #ffffff; /* PyCharm Footer Text Color */
    position: fixed;
    bottom: 0;
    width: 100%;
}
