/* Добавленные стили */
.email {
    color: #008000; /* Зеленый цвет для почты */
}

.phone {
    color: #008000; /* Зеленый цвет для телефона */
}

/* Ваши остальные стили */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('./JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: #ffffff;
}

header {
    background-color: #3c3f41;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282c2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
}

.selector {
    color: #569cd6;
}

.property {
    color: #9cdcfe;
}

.value {
    color: #ce9178;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3c3f41;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
